
.ag-theme-alpine {
    width: 100%; 
    margin: 0 auto; 
    margin-top: 20px; 
  }
  
  .review-button {
    background-color: #ffd100;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .review-button:hover {
    background-color: #f0c700;
  }
  .overview-button {
    background-color: #ffd100;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .overview-button:hover {
    background-color: #f0c700;
  }
  
  .ag-theme-alpine .ag-header-cell {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #333;
  }
  
  .ag-theme-alpine .ag-cell {
    background-color: #fff;
    color: #333;
  }
  
  .ag-theme-alpine .ag-row-even {
    background-color: #f5f5f5;
  }
  
  .ag-theme-alpine .ag-row-odd {
    background-color: #f0f0f0;
  }
  


  .actions-buttons {
    display: flex;
    gap: 8px; 
  }
  
  .overview-button,
  .review-button {
    padding: 6px 12px;
    font-size: 10px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .review-button {
    background-color: #28a745;
  }
  
  .overview-button:hover,
  .review-button:hover {
    background-color: #0056b3;
  }
  